[Unit]
Description=mpfpv multipath VPN
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/mpfpv/mpfpv -config /opt/mpfpv/mpfpv.yml
Restart=always
RestartSec=3
WorkingDirectory=/opt/mpfpv
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
